/* Variable */
:root {
	--primary-color: #191919;
	--secondary-color: #262626;
  --contras-color: #E39689;
	--text-color: #d6d6d6;
	--shadow-text-color: #979797;
}

/* GLobal */
* {
	padding: 0;
	margin: 0;
	font-family: "Bitter", serif;
}

body {
	background-color: var(--primary-color);
	color: var(--text-color);
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: inherit;
}

.custom-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.loading-wrap {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  border-radius: 50%;
  background-color: var(--contras-color);
  animation: preload 0.5s ease-in-out 0s infinite alternate;
 }

@keyframes preload {
  from {
    width: 50px;
    height: 50px;
  }

  to {
    width: 25px;
    height: 25px;
  }
}

/* Home */
#home {
	width: 75%;
	padding-top: 50px;
}

#home h1 {
	font-weight: bold;
	font-size: 44px;
	padding: 0px 10px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.section_wrap {
	margin-top: 40px;
}

.content {
	margin-top: 50px;
}

.nav ul {
	list-style: none;
	display: flex;
	width: 100%;
	position: relative;
	padding-left: 10px;
  box-sizing: border-box;
}

.nav ul li {
	font-size: 16px;
	padding-right: 35px;
	letter-spacing: 2px;
}

.nav ul li .menu {
	position: relative;
}

.nav ul::after,
.nav ul li .menu.active::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -10px;
	left: 0;
}

.nav ul::after {
	background-color: var(--secondary-color);
}

.nav ul li .menu.active::after {
	z-index: 100;
	background-color: var(--text-color);
}

.nav ul li .menu i {
	font-size: 16px;
}

.section .title-info {
	width: fit-content;
	font-weight: 700;
	border-radius: 2px;
	text-align: center;
	padding: 4px 10px;
	opacity: 0.9;
	margin-left: 10px;
	letter-spacing: 2px;
}

.section .card-section {
	padding-top: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
}

.section .card-section .card {
	width: 220px;
	min-height: 100px;
	background-color: var(--secondary-color);
	border-radius: 2px;
	box-sizing: border-box;
	padding: 10px;
	margin: 0px 10px;
	margin-bottom: 20px;
}

.section .card-section .card__info {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.section .card__info .info__icon {
	width: 17px;
	height: 17px;
	padding-right: 10px;
}

.section .card__info .top__info {
	display: flex;
	align-items: start;
	margin-bottom: 25px;
}

.section .card__info .icon__image {
	width: 100%;
}

.section .card__info .info__title h5 {
	font-size: 16px;
}

.section .card__info .info__link {
	padding: 0 10px;
}

.section .card__info .info__link span {
	font-size: 13px;
	letter-spacing: 2px;
}

/* Schedule */
.schedule {
	display: flex;
}

.calendar-wrap {
  box-sizing: border-box;
  position: relative;
}

.calendar__header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  justify-content: center;
  padding: 0 80px;
  box-sizing: border-box;
  font-size: 40px;
  font-weight: bolder;
}

.calendar__header .month {
  padding-right: 10px;
}

.calendar__header .month::after {
  content: "'";
}

.calendar__body .calendar__table {
  width: 100%;
  font-size: 25px;
  table-layout: fixed;
  text-align: center;
}

.calendar__body .calendar__table .table__day {
  color: var(--shadow-text-color);
  height: 90px;
  vertical-align: baseline;
  border-collapse: collapse;
  position: relative;
}

.calendar__body .calendar__table .table__day td::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 25px;
  background-color: var(--secondary-color);
}

.calendar__body .calendar__table .table__day .active,
.calendar__body .calendar__table .table__date .active {
  color: var(--contras-color);
}

.calendar__body .calendar__table .table__date td {
  height: 90px;
  vertical-align: baseline;
  cursor: pointer;
  position: relative;;
}

.calendar__body .calendar__table .table__date td .event-dot {
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  pointer-events: none;
  position: absolute;
  right: 60px;
  top: 25px;
}

.calendar__body .calendar__table .table__date td .event-dot span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
  margin-bottom: 4px;
  background-color: var(--text-color);
  pointer-events: none;
}

.calendar__body .calendar__table .table__date td.ls-month .event-dot span {
  background-color: var(--secondary-color);
}

.calendar__body .calendar__table .table__date td.ls-month {
  pointer-events: none;
  color: var(--secondary-color);
}